/* メディアクエリ */
@media all and (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  header {
    width: auto;
    margin: 0 5%;
  }
  .content {
    width: auto;
    padding: 5px; 
  }
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10px 10px;
    background-color: #090925;
  }
}
@media all and (max-width: 670px) {
  /* 画面サイズが670px以下で適用 */
  #top {
    /* ファイルパス:CSSフォルダ→上の階層→imagesフォルダ→指定のファイル */
    /* background-sizeのプロパティ値触って画像サイズ調整 */
    background-image: url(../img/bg_top_background01_sp.jpg);
    background-attachment: inherit;
    padding:5px;
  }
  #top h1{
    font-size: 40px;
    text-align: center;
  }
  #top p{
    text-align: center;
  }
  #top .btn a{
    text-align: center;
    width: inherit;
  }

  #top footer {
    max-width: fit-content;
    /* margin 上　右　下　左 */
    margin: 150px auto 0 auto;
    text-align: left;
    /* footerのbackground-colorはabout.htmlのみ濃い色を適用 */
    background-color: transparent;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 7.2vw;
  }
  h2 {
    font-size: 6vw;
  }
  header {
    width: auto;
    margin: 0 5%;
  }
  .logo {
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  .global-nav {
    float: none;
    margin-top: 40px;
    text-align: center;
  }
  /* この時点ではli要素のせいでセンタリングできない */
  .global-nav li {
    /* インラインにして横並びにする */
    display: inline;
    float: none;
    margin: 0 8px;
  }
  #wrap {
    margin-top: 40px;
  }
  .content {
    width: 100%;
  }
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  h2 img {
    max-width: 100%;
  }
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10px 10px;
    background-color: #090925;
  }
  .main-center {
    width: 100%;
  }
  .profile-txt {
    max-width: 100%;
  }
  #contact .form{
    padding:20px 10px;
  }
  #contact .form .email{
    width: 250px;
    height: 30px;
  }
  #contact .form .message{
    width: 250px;
    height: 200px;
  }
  #contact .form button{
    width: 320px;
    margin-left: 0;
  }
  #contact .form .attention{
    margin: 20px 0 0 0;
  }
  .youtube {
    width: 100%;
    height: 100%; 
  }
}
